<div class="container">
  <div class="row d-flex">
    <div class=" col-6 col-xs-12 col-md-6">
        <div class="text-editor rounded  ">
            <span></span>
            <span></span>
            <span></span>
            <textarea name="codeEditor" class="rounded" id="codeEditor" cols="47" rows="18" placeholder="Code Here..."></textarea>
        </div>
    </div>
    <div class=" col-6 col-xs-12 col-md-6  ">
        <div class="output  d-flex flex-column ">
             <div class="op rounded "  id="input">
                 input
             </div>
             <div class="op my-5 rounded" id="output">
              output
             </div>
        </div>
    </div>

  </div>
</div>